<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.PARLESSIGNES"
        tools:targetApi="31">
        <activity
            android:name=".NivelesFinalizadosActivity"
            android:exported="false" />
        <activity
            android:name=".Nivel_1Activity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Nivel_2Activity"
            android:exported="false" />
        <activity
            android:name=".Nivel_3Activity"
            android:exported="false" />
        <activity
            android:name=".Nivel_4Activity"
            android:exported="false" />
        <activity
            android:name=".Nivel_5Activity"
            android:exported="false" />
        <activity
            android:name=".Nivel_completado"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Documentos"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Traduccion_escrita"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".CategoriasActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity android:name=".DocumentoWebView" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TraduccionActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".RegistroActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".InicioActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".NivelesActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".PerfilActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".VideoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".MaterialApoyoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".AbecedarioActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".NumerosActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".AnimalesActivity"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>